<tr>
    <th title='Gene'>
        <span>Gene<i class='icon-sort'></i></span>
    </th>
    <th title='HGVS P'>
        <span>HGVS P<i class='icon-sort'></i></span>
    </th>
    <th title='Variant Effect'>
        <span>Effect<i class='icon-sort'></i></span>
    </th>
    <th title='HGVS C'>
        <span>HGVS C<i class='icon-sort'></i></span>
    </th>
    <th title='Genotype'>
        <span>Genotype<i class='icon-sort'></i></span>
    </th>
    <th title='Genomic Position'>
        <span>Position<i class='icon-sort'></i></span>
    </th>
    <th title='Condensed Flags'></th>
</tr>
