<h4>Assessment Metrics</h4>

<div class='alert alert-block alert-error hide' data-target=error-message>
    There was an error loading the assessment metrics for this variant. Please close this window and click on the result row again to try to reload the metrics.
</div>

<div class='alert alert-block alert-info' data-target=empty-message>
    There have been no assessments made on this variant.
</div>

<div data-target=loading-indicator>
    <i class='icon-spinner icon-spin'></i> Loading...
</div>

<div data-target=metrics-container class='hide'>
    <div class=row-fluid>
        <div class=span4 data-target=pathogenicities></div>
        <div class=span4 data-target=categories></div>
    </div>

    <div class=row-fluid data-target=assessment-table></div>
</div>

