Assertion: <a target='_blank' href='https://www.ncbi.nlm.nih.gov/clinvar/<%= data.rcvaccession %>/'><%= data.rcvaccession %></a>

<ul>
    <li>
        <small>Significance</small> <b><%= data.clinicalsignificance %></b>
    </li>
    <li><small>Origin</small> <%= data.origin %></li>
    <li><small>Type</small> <%= data.type %></li>
    <li><small># Submitters</small> <%= data.numbersubmitters %></li>
    <li><small>Review Status</small> <%= data.reviewstatus %></li>
    <li><small>Last Evaluated</small> <%= data.lastevaluated %></li>
</ul>
