Assertion: <a target='_blank' href='https://www.ncbi.nlm.nih.gov/clinvar/'<%= data.assertion.rcvaccession %>/'><%= data.assertion.rcvaccession %></a>

<ul>
    <li>
        <small>Siginificance</small> <b><%= data.assertion.clinicalsignificance %></b>
    </li>
    <li><small>Origin</small> <%= data.assertion.origin %></li>
    <li><small>Type</small> <%= data.assertion.type %></li>
    <li><small># Submitters</small> <%= data.assertion.numbersubmitters %></li>
    <li><small>Review Status</small> <%= data.assertion.reviewstatus %></li>
    <li><small>Last Evaluated</small> <%= data.assertion.lastevaluated %></li>
</ul>
