include requirements.txt
include wsgi.py
include bin/manage.py
include Makefile

recursive-include varify/fixtures *
recursive-include varify/assessments/fixtures *
recursive-include varify/genome/fixtures *
recursive-include varify/variants/fixtures *

recursive-include _site *
recursive-include varify/static *
recursive-include server *
recursive-include varify/templates *

global-exclude .DS_Store

exclude varify/static/scripts/javascript/app.build.js
exclude varify/static/scripts/javascript/min/build.txt
exclude varify/conf/local_settings.py

prune _site/static
prune varify/static/scripts/coffeescript
prune varify/static/stylesheets/scss
prune tests
