include requirements.txt
include wsgi.py
include bin/manage.py
include Makefile

recursive-include varify/fixtures *

recursive-include _site *
recursive-include varify/static *
recursive-include server *
recursive-include varify/templates *
recursive-include varify/genes/templates *

global-exclude .DS_Store

exclude varify/static/js/app.build.js
exclude varify/static/js/min/build.txt
exclude varify/conf/local_settings.py

prune _site/static
prune varify/static/stylesheets/scss
prune tests
