<div class=analysis-list>
    <h4 class='title'>Analyses</h4>
    <div class="empty-message">There are no analyses. To create one, fill out the knowledge capture form on a result and an Analysis will automatically be created. To do this, navigate to the &quot;Results&quot; page. After the results load, click on any of the results in the table. Open the &quot;Knowledge Capture&quot; tab then fill out the form and click &quot;Save Changes&quot;. After that, you can return to this screen to view the analysis.</div>
    <div class="loading-indicator hide">
        <i class="icon-spinner icon-spin"></i> Loading Analyses...
    </div>
    <div class="alert alert-danger error-message hide">There was a problem retrieving the analyses. Please reload the page to try to reload the analyses.</div>
    <div class=items></div>
</div>
