<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Dashboard</title>
    <link rel="stylesheet" href="//solvebio.s3.amazonaws.com/js/dev/solvebio-dashboards.css" type="text/css" />
    <script type="text/javascript" src="//solvebio.s3.amazonaws.com/js/dev/solvebio-dashboards.js"></script>
</head>
<body ng-controller="MyDashboard">
    <loader ng-show="loading"></loader>

    <div variant-header name="header"></div>
    <div filter-box name="clinvar" filter-keys="clinical_significance,origin,review_status,type" primary-key="_uuid"></div>
    <div reference-list name="medline"></div>

    <!-- Custom widget template -->
    <script type="text/ng-template" id="variant-header.html">
    <section id="variant">
        <div class="sb-grid  sb-widget-variant">
            <div class="sb-widget-variant-heading-col-wrapper">
                <h1 class="sb-text-blue"><strong><span ng-bind="data.title"></span></strong> <span class="sb-text-base" ng-bind="data.subtitle"></span> <span class="sb-text-base" ng-bind="data.id"></span></h1>
                <i class="sb-icon-powered  sb-text-blue"></i>
            </div>
            <div class="sb-widget-variant-genotype-col-wrapper">
                <div class="sb-grid-col-1-1"> 
                    <div class="sb-widget sb-widget-variant-genotype">
                        <table class="sb-table  sb-tableGenotype sb-text-center">
                            <tr>
                                <td>
                                    <P><strong>Location</strong></P>
                                    <P class="sb-text-light">Chr<span ng-bind="data.chr || '?'"></span> @ <span ng-bind="data.pos"></span></P>
                                </td>
                                <td>
                                    <P><strong>Genotype</strong></P>
                                    <P class="sb-text-light">Ref: <span ng-bind="data.ref || '?'"></span> Alt: <span ng-bind="data.alt || '?'"></span></P>
                                </td>
                                <td>
                                    <P><strong>Read Depth</strong></P>
                                    <P class="sb-text-light" ng-bind="data.read_depth"></P>
                                </td>
                                <td>
                                    <P><strong>HGVS</strong></P>
                                    <P class="sb-text-light" ng-bind="data.hgvs[0] || '?'"></P>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </script>

    <script>
    // Initialize the dashboard
    angular.module('dashboard', ['solvebio.dashboards'])

    // Variant header widget
    .directive('variantHeader', ['Dashboard', function(Dashboard) {
        return {
            restrict: 'AE',
            replace: true,
            scope: {
                name: '@name',
            },
            templateUrl: 'variant-header.html',
            link: function(scope, element, attrs) {
                scope.data = {};

                Dashboard.addWidget(scope.name, {
                    setData: function(data) {
                        scope.data = data ? data : {};
                        Dashboard.refresh();
                    }
                });
            }
        };
    }])

    // The main dashboard controller
    .controller('MyDashboard', ['$scope', '$log', 'Dashboard', '$http',
        function($scope, $log, Dashboard, $http) {
            $scope.loading = true; // show the loader

            var settings = {
                apiHost: 'https://api.solvebio.com'
            };

            // Override this function for custom Dashboards
            Dashboard.handleMessage = function(message) {
                // Handle settings (access token, api host, etc...)
                if (message.settings) {
                    angular.extend(settings, message.settings);
                }

                // Handle the header data
                if (message.header) {
                    Dashboard.getWidget('header').setData(message.header);
                }

                if (message.clinvar) {
                    // TODO: append or clear the filter box?
                    var params = {
                        access_token: settings.accessToken,
                        filters: message.clinvar.filters,
                        limit: message.clinvar.limit || 1000
                    };

                    // Query ClinVar/Variants and then Medline
                    // TODO: replace with new single variant annotation API
                    var clinvar_data = [];
                    Dashboard.getWidget('clinvar').setLoading(true);

                    $http({
                        method: 'POST',
                        url: settings.apiHost + '/v1/datasets/clinvar/2.0.0-1/variants/data',
                        data: params
                    })
                    .success(function(res) {
                        // Hydrate ClinVar/Variants results with ClinVar/Phenotypes
                        var rcvaccessions = [];
                        var pmids = [];
                        clinvar_data = res.results;

                        angular.forEach(clinvar_data, function(value, key) {
                            this.push(value.rcvaccession);
                        }, rcvaccessions);

                        params.filters = [['rcvaccession__in', rcvaccessions]];

                        $http({
                            method: 'POST',
                            url: settings.apiHost + '/v1/datasets/clinvar/2.0.0-1/phenotypes/data',
                            data: params
                        }).success(function(res) {
                            angular.forEach(res.results, function(pv, pk) {
                                // no stars - conflicting data from submitters
                                // one star - classified by single submitter
                                // two stars - classified by multiple submitters
                                // three stars - reviewed by expert panel
                                // four stars - reviewed by professional society
                                if (pv.review_status.indexOf('classified by single') > -1) {
                                    pv.stars = 1;
                                } else if (pv.review_status.indexOf('classified by multiple') > -1) {
                                    pv.stars = 2;
                                } else if (pv.review_status.indexOf('reviewed by expert panel') > -1) {
                                    pv.stars = 3;
                                } else if (pv.review_status.indexOf('reviewed by professional society') > -1) {
                                    pv.stars = 4;
                                } else {
                                    pv.stars = 0;
                                }

                                angular.forEach(clinvar_data, function(vv, vk) {
                                    if (vv.rcvaccession === pv.rcvaccession) angular.extend(vv, pv);
                                });

                                if (pv.pmids) {
                                    pmids = pmids.concat(pv.pmids);
                                }
                            });

                            Dashboard.getWidget('clinvar').setData(clinvar_data);
                            Dashboard.getWidget('clinvar').setLoading(false);
                            $scope.loading = false; // hide the loader

                            // Load pubmed records
                            if (pmids.length > 0) {
                                params.filters = [['pmid__in', pmids]];
                                $http({
                                    method: 'POST',
                                    url: settings.apiHost +
                                         '/v1/datasets/medline/1.0.0/medline/data',
                                    data: params
                                }).success(function(res) {
                                    Dashboard.getWidget('medline').setData(res.results);
                                });
                            }
                        });
                    })
                    .error(function(res) {
                        Dashboard.getWidget('clinvar').setError(res.detail);
                        $scope.loading = false; // hide the loader
                    });
                }
            };
        }
    ]);
    
    angular.element(document).ready(function() {
        angular.bootstrap(document, ['dashboard']);
    });
    </script>
</body>
</html>
