<tr>
    <th title='Gene' data-concept-id=5>
        <span>Gene<i class='icon-sort'></i></span>
    </th>
    <th title='HGVS P' data-concept-id=21>
        <span>HGVS P<i class='icon-sort'></i></span>
    </th>
    <th title='Variant Effect' data-concept-id=10>
        <span>Effect<i class='icon-sort'></i></span>
    </th>
    <th title='HGVS C' data-concept-id=19>
        <span>HGVS C<i class='icon-sort'></i></span>
    </th>
    <th title='Genotype' data-concept-id=16>
        <span>Genotype<i class='icon-sort'></i></span>
    </th>
    <th title='Genomic Position' data-concept-id=1>
        <span>Position<i class='icon-sort'></i></span>
    </th>
    <th title='Gene Rank' data-concept-id=30>
        <span>Gene Rank<i class='icon-sort'></i></span>
    </th>
    <th title='Condensed Flags' class='unsortable-column'></th>
</tr>
