<div class='message-container hide' data-target=error-message></div>
<div class='message-container' data-target=loading-message>
    <div data-target=loading><i class='icon-spinner icon-spin'></i> Loading Variant Set...</div>
</div>
<div class=variant-list-container>
    <h4 data-target=variant-set-name></h4>
    <p><b>Variant Count:</b> <span data-target=variant-set-count></span></p>
    <p><b>Last Modified:</b> <span data-target=variant-set-modified></span></p>
    <p class=muted data-target=variant-set-description></p>

    <div class=variant-list-region></div>
</div>
<div class=variant-details-region></div>
<div class=knowledge-capture-region></div>
