<div class=row-fluid>
    <div class='span6'>
        <div data-target='sample-details-region'>
            <h3>Loading Sample Details...</h3>
        </div>

        <hr>

        <h4>Variant Sets <i data-target=sample-variant-set-help class='icon icon-question-sign'></i></h4>

        <div data-target='sample-variant-sets-region'></div>

        <button data-target=create-variant-set class='btn btn-primary btn-small'>Create Variant Set...</button>
    </div>

    <div class='span6'>
        <div data-target='query-region'></div>
        <div data-target='public-query-region'></div>
    </div>
</div>
