<div class=modal-header>
    <h3 data-target=header-label>Select Sample</h3>
</div>

<div class=modal-body>
    <p class='alert alert-warning alert-block hide' data-target='empty-message'>
        There are no samples available. The Varify application requires at least one published sample to exist. Please load some samples and then return to this page once the sample load process has finished and the samples have been published.
    </p>
    <div data-target='samples-region'></div>
</div>

<div class=modal-footer>
    <button data-target='save' class='btn btn-primary' disabled=disabled>Save</button>
    <div data-target='selected-sample'></div>
</div>
