<h4>Proband</h4>

<p class=muted>Select a proband for your analysis. One must be selected
    to view any results.</p>

<div id=proband-required-error class="alert alert-error alert-block hide">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Proband Required</h4>
    Please choose a proband, otherwise you will not be seeing any results =)
</div>

<form id="analysis-proband" class=form-horizontal>
    <div class="control-group">
        <label class=control-label for=proband-project>Project</label>
        <div class=controls>
            <select id=proband-project name="project"></select>
        </div>
    </div>

    <div class="control-group">
        <label class=control-label for=proband-batch>Batch</label>
        <div class=controls>
            <select id=proband-batch name="batch"></select>
        </div>
    </div>

    <div class=control-group data-id="" data-operator="exact">
        <label class=control-label for=proband-sample>Sample</label>
        <div class=controls>
            <select id=proband-sample name="sample" data-value></select>
        </div>
    </div>
</form>
