<input type=text class='filter-input' autocomplete=off placeholder='Filter samples...'>
<button class='btn btn-danger clear-button'>
    <i class='icon-remove icon-white'></i> Clear Selected
</button>
<table class='table table-collapsed table-bordered table-striped'>
    <thead>
        <tr>
            <th data-sort='label'>Sample <i class='icon-sort-up'></i><i class='icon-sort-down'></i></th>
            <th data-sort='project'>Project (Batch) <i class='icon-sort-up'></i><i class='icon-sort-down'></i></th>
            <th data-sort='created'>Loaded <i class='icon-sort-up'></i><i class='icon-sort-down'></i></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div data-target='loader' class='text-center'><i class='icon-spinner icon-spin'></i> Loading samples...</div>
