{% avocado load field "samples.cohort.id" as cohort %}
{% avocado load field "samples.cohortvariant.af" as cohort_af %}

<h4>Cohorts</h4>

<form id="analysis-cohorts" class=form-horizontal>
    <div class="control-group" data-id="{{ cohort.pk }}" data-operator="exact">
        <label class=control-label for=cohorts-object>{{ cohort }}</label>
        <div class=controls>
            <select id=cohorts-object name="cohort" data-value>
                <option value=>---</option>
                {% for obj in cohort.objects %}
                    <option value="{{ obj.pk }}">{{ obj }} ({{ obj.count }} samples)</option>
                {% endfor %}
            </select>
            {% if cohort.description %}
                <span class=help-block>{{ cohort.description }}</span>
            {% endif %}
        </div>
    </div>

    <div class=control-group data-id="{{ cohort_af.pk }}" data-operator="lte">
        <label class=control-label for=cohorts-af>{{ cohort_af }}</label>
        <div class=controls>
            <input id=cohorts-af type=text name="{{ cohort_af.field_name }}" data-value>
            <span class=help-inline>{{ cohort_af.unit_plural }}</span>
            {% if cohort_af %}
                <span class=help-block>{{ cohort_af.description }}</span>
            {% endif %}
        </div>
    </div>
</form>

