{% avocado load field "variants.thousandg.af" as tg_af %}
{% avocado load field "variants.evs.all_af" as evs_af %}

<h4>Common Variants</h4>

<form class=form-horizontal>
    <div class=control-group data-id="{{ tg_af.pk }}" data-operator="lte">
        <label class=control-label for=common-tg-af>{{ tg_af }}</label>
        <div class=controls>
            <select id=common-tg-af name="{{ tg_af.field_name }}" data-value>
                <option value=>---</option>
                <option value="0.01">Very Rare &lt;=1st percentile</option>
                <option value="0.05">Rare &lt;=5th percentile</option>
                <option value="other">Other</option>
            </select>
            <input class=select-other type=text name="{{ tg_af.field_name }}-other">
            <span class=help-inline>{{ tg_af.unit_plural }}</span>
            {% if tg_af.description %}
                <span class=help-block>{{ tg_af.description }}</span>
            {% endif %}
        </div>
    </div>

    <div class=control-group data-id="{{ evs_af.pk }}" data-operator="lte">
        <label class=control-label for=common-evs-af>{{ evs_af }}</label>
        <div class=controls>
            <select id=common-evs-af name="{{ evs_af.field_name }}" data-value>
                <option value=>---</option>
                <option value="0.01">Very Rare &lt;=1st percentile</option>
                <option value="0.05">Rare &lt;=5th percentile</option>
                <option value="other">Other</option>
            </select>
            <input class=select-other type=text name="{{ evs_af.field_name }}-other">
            <span class=help-inline>{{ evs_af.unit_plural }}</span>
            {% if evs_af.description %}
                <span class=help-block>{{ evs_af.description }}</span>
            {% endif %}
        </div>
    </div>

</form>
