<h4>Read Depth</h4>
{% avocado load field "samples.result.read_depth" as read_depth %}
{% avocado load field "samples.result.quality" as quality %}

<form class=form-horizontal>
    <div class=control-group data-id="{{ read_depth.pk }}" data-operator="gte">
        <label class=control-label for=coverage-read-depth>{{ read_depth }}</label>
        <div class=controls>
            <select id=coverage-read-depth name="{{ read_depth.field_name }}" data-value>
                <option value=>---</option>
                <option value="10">Research &gt;=10</option>
                <option value="30">Clinical &gt;=30</option>
                <option value="other">Other</option>
            </select>
            <input class=select-other type=text name="{{ read_depth.field_name }}-other">
            {% if read_depth.description %}
                <span class=help-block>{{ read_depth.description }}</span>
            {% endif %}
        </div>
    </div>
</form>

<h4>Quality</h4>

<form class=form-horizontal>
    <div class=control-group data-id="{{ quality.pk }}" data-operator="gte">
        <label class=control-label for=coverage-quality>{{ quality }}</label>
        <div class=controls>
            <select id=coverage-quality name="{{ quality.field_name }}" data-value>
                <option value=>---</option>
                <option value="30">Research &gt;=30</option>
                <option value="50">Clinical &gt;=50</option>
                <option value="other">Other</option>
            </select>
            <input class=select-other type=text name="{{ quality.field_name }}-other">
            {% if quality.description %}
                <span class=help-block>{{ quality.description }}</span>
            {% endif %}
        </div>
    </div>
</form>
