{% avocado load field "samples.result.genotype" as genotype %}

<h4>Genotype</h4>

<form class=form-horizontal>
    <div class=control-group data-id="{{ genotype.pk }}" data-operator="exact">
        <label class=control-label for=genotype-object>{{ genotype }}</label>
        <div class=controls>
            <select id=genotype-object name="{{ genotype.field_name }}" data-value>
                <option value=>---</option>
                {% for value, label in genotype.choices %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
            {% if genotype.description %}
                <span class=help-block>{{ genotype.description }}</span>
            {% endif %}
        </div>
    </div>
</form>

