{% avocado load field "genes.geneset.id" as geneset %}
{% avocado load field "genes.gene.symbol" as gene %}

<h4>Genes</h4>

<p class=muted>Choose from a pre-defined set of genes or search below to
    select some arbitrary genes.</p>

<form class=form-horizontal>
    <div class=control-group data-id="{{ geneset.pk }}" data-operator="in">
        <label class=control-label for=geneset-object>{{ geneset }}</label>
        <div class=controls>
            <select id=geneset-object multiple name="{{ geneset.field_name }}" data-value class=span12>
                {% for obj in geneset.objects %}
                    {% if obj.published %}
                        <option value="{{ obj.pk }}">{{ obj.name }} ({{ obj.count }} genes)</option>
                    {% endif %}
                {% endfor %}
            </select>
            {% if geneset.description %}
                <span class=help-block>{{ geneset.description }}</span>
            {% endif %}
        </div>
    </div>

    <p class=muted>Multiple gene symbols can be defined by comma-separating
        them. The search uses an autocomplete feature, once the gene is
        found simply hit enter to add it to the list.</p>

        <div class=control-group data-id="{{ gene.pk }}" data-operator="in">
        <label class=control-label for=gene-object>{{ gene }}</label>
        <div class=controls>
            <input id=gene-object type=text class=span12 data-value>
            {% if gene.description %}
                <span class=help-block>{{ gene.description }}</span>
            {% endif %}
        </div>
    </div>

</form>
