{% avocado load field "phenotypes.phenotype.term" as phenotype %}
{% avocado load field "variants.variantphenotype.hgmd_id" as hgmd %}

<h4>Phenotypes</h4>

<form class=form-horizontal>
    <p class=muted>Filter by variants based on their presence in HGMD.</p>

    <div class=control-group data-id="{{ hgmd.pk }}" data-operator="isnull">
        <label class=control-label for=phenotypes-hgmd>{{ hgmd }}</label>
        <div class=controls>
            <select id=phenotypes-hgmd data-value>
                <option value=>No Preference</option>
                <option value=false>In HGMD</option>
                <option value=true>Not in HGMD</option>
            </select>

            {% if hgmd.description %}
                <span class=help-block>{{ hgmd.description }}</span>
            {% endif %}
        </div>
    </div>
</form>
