{% avocado load field "variants.variant.chr" as chromosome %}
{% avocado load field "variants.variant.pos" as position %}

<h4>Genomic Position</h4>

<form class=form-horizontal>
    <div class=control-group data-id="{{ chromosome.pk }}" data-operator="exact">
        <label class=control-label for=chromosome-object>{{ chromosome }}</label>
        <div class=controls>
            <select id=chromosome-object name="{{ chromosome.field_name }}" data-value>
                <option value=>---</option>
                {% for value, label in chromosome.choices %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
            {% if chromosome.description %}
                <span class=help-block>{{ chromosome.description }}</span>
            {% endif %}
        </div>
    </div>

    <div class=control-group data-id="{{ position.pk }}">
        <label class=control-label for=chromosome-position>{{ position }}</label>
        <div class=controls>
            <select id=chromosome-position name="{{ position.field_name }}" data-operator>
                <option value="exact">is</option>
                <option value="gte">is greater than or equal</option>
                <option value="lte">is less than or equal</option>
                <option value="range">is between</option>
            </select>
            <input type=text name="{{ position.field_name }}" class=span3 data-value>
            <input type=text name="{{ position.field_name }}" class=span3 data-value-2>
            {% if position.description %}
                <span class=help-block>{{ position.description }}</span>
            {% endif %}
        </div>
    </div>

</form>

