{% avocado load field "samples.project.id" as project %}
{% avocado load field "samples.batch.id" as batch %}
{% avocado load field "samples.sample.id" as sample %}

<h4>Proband</h4>

<p class=muted>Select a proband for your analysis. One must be selected
    to view any results.</p>

<div id=proband-required-error class="alert alert-error alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Proband Required</h4>
    Please choose a proband, otherwise you will not be seeing any results =)
</div>

<form id="analysis-proband" class=form-horizontal>
    <div class="control-group">
        <label class=control-label for=proband-project>{{ project }}</label>
        <div class=controls>
            <select id=proband-project name="project"></select>
            {% if project.description %}
                <span class=help-block>{{ project.description }}</span>
            {% endif %}
        </div>
    </div>

    <div class="control-group">
        <label class=control-label for=proband-batch>{{ batch }}</label>
        <div class=controls>
            <select id=proband-batch name="batch"></select>
            {% if batch.description %}
                <span class=help-block>{{ batch.description }}</span>
            {% endif %}
        </div>
    </div>

    <div class=control-group data-id="{{ sample.pk }}" data-operator="exact">
        <label class=control-label for=proband-sample>{{ sample }}</label>
        <div class=controls>
            <select id=proband-sample name="sample" data-value></select>
            {% if sample.description %}
                <span class=help-block>{{ sample.description }}</span>
            {% endif %}
        </div>
    </div>
</form>

