<div id=analysis-modal class="modal hide fade" tabindex=-1>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Analysis</h3>
    </div>

    <div class="modal-body">
        <div class=row-fluid>
            <div class=span3>
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class=active><a href=#analysis-8 data-toggle=tab>Summary</a>
                        <li><a href=#analysis-0 data-toggle=tab>Proband</a>
                        <li><a href=#analysis-1 data-toggle=tab>Depth of Coverage</a>
                        <li><a href=#analysis-11 data-toggle=tab>Genomic Position</a>
                        <li><a href=#analysis-2 data-toggle=tab>Common Variants</a>
                        <li><a href=#analysis-3 data-toggle=tab>Cohort Variants</a>
                        <li><a href=#analysis-4 data-toggle=tab>Deleterious Predictions</a>
                        <li><a href=#analysis-5 data-toggle=tab>Predicted Variant Effects</a>
                        <li><a href=#analysis-10 data-toggle=tab>Phenotypes</a>
                        <!--<li><a href=#analysis-9 data-toggle=tab>Genotype</a>-->
                        <li><a href=#analysis-6 data-toggle=tab>Genes</a>
                    </ul>
                </div>
            </div>

            <div class=span8>
                <div class=tab-content>
                    <div id=analysis-8 class="tab-pane active">
                        {% include "varify/analysis/_summary.html" %}
                    </div>

                    <div id=analysis-0 class="tab-pane">
                        {% include "varify/analysis/_proband.html" %}
                    </div>

                    <div id=analysis-1 class="tab-pane">
                        {% include "varify/analysis/_coverage-quality.html" %}
                    </div>

                    <div id=analysis-2 class="tab-pane">
                        {% include "varify/analysis/_common-variants.html" %}
                    </div>

                    <div id=analysis-3 class="tab-pane">
                        {% include "varify/analysis/_cohorts.html" %}
                    </div>

                    <div id=analysis-4 class="tab-pane">
                        {% include "varify/analysis/_prediction-scores.html" %}
                    </div>

                    <div id=analysis-5 class="tab-pane">
                        {% include "varify/analysis/_prediction-effects.html" %}
                    </div>

                    <div id=analysis-6 class="tab-pane">
                        {% include "varify/analysis/_genes.html" %}
                    </div>

                    <!--
                    <div id=analysis-9 class="tab-pane">
                        {% include "varify/analysis/_genotype.html" %}
                    </div>
                    -->

                    <div id=analysis-10 class="tab-pane">
                        {% include "varify/analysis/_phenotypes.html" %}
                    </div>

                    <div id=analysis-11 class="tab-pane">
                        {% include "varify/analysis/_position.html" %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class=pull-left>
            <span><strong class=analysis-count></strong></span>
        </div>
        <a id=close-analysis href="#" class="btn">Close</a>
        <a id=save-analysis href="#" class="btn btn-primary">View Variants</a>
    </div>
</div>
