{% extends "base.html" %}

{% block styles %}
    {{ block.super }}
    <style>
        #feed {
            padding: 20px;
            margin-bottom: 20px;
            background: #fff;
            box-shadow: 0 2px 5px #999;
        }
    </style>
{% endblock %}


{% block content %}
    <div class=container-fluid>
        <div class=row-fluid>
            <h1>News <small>Status updates, release information, and everything else..</small></h1>

            <div id=feed>
                {% for article in articles %}
                    <article class="article">
                        {% spaceless %}
                        <header id="{{ article.slug }}">
                            <h2>{{ article.title }} <small>{{ article.created|date:"M j, Y" }}</small></h2>
                        </header>
                        {% endspaceless %}
                        <hr>
                        <div class="body">
                            {{ article.formatted_body|safe }}
                        </div>
                    </article>
                    {% if not forloop.last %}<hr>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
