{% extends "base.html" %}

{% block content %}
    <div class="container no-title" style="width: 337px">
        {% if form.non_field_errors %}
            <div class="info messages">
                <p class="error">{{ form.non_field_errors.0 }}</p>
            </div>
        {% endif %}
        <div class="content">
        {% if validlink %}                   
            <form method="post" action="">
                {% csrf_token %}
                <section>
                    <table>
                        <tr>
                            <th>{{ form.new_password1.label_tag }}</th>
                            <td>{{ form.new_password1|bootstrap }}
                                <span class="info">{{ form.new_password1.help_text }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form.new_password2.label_tag }}</th>
                            <td>{{ form.new_password2|bootstrap }}</td>
                        </tr>                    
                    </table>
                </section>
                <div class="controls">
                    <input type="submit" value="Reset Password">
                </div>
            </form>
        {% else %}
        <section>
            This password reset link is not valid. Try resetting
            your password <a href="{% url password-reset %}">again</a>.
        </section>
        {% endif %}
        </div>
    </div>
{% endblock %}
