{% extends "base.html" %}

{% block content %}
    <div class="container no-title" style="width: 334px">
        {% if form.non_field_errors %}
            <div class="info messages">
                <p class="error">{{ form.non_field_errors.0 }}</p>
            </div>
        {% endif %}
        <div class="content">
            <form method="post" action="">
                {% csrf_token %}
                <table class=table>
                    <tbody>
                        <tr>
                            <th>{{ form.email.label_tag }}</th>
                            <td>{{ form.email|bootstrap }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Reset Password">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
