@import "lib/bourbon/bourbon";

body {
    padding-top: 40px;
}

#review-notification {
    margin: 0;
    margin-top: 10px;
}

.unsortable-column {
    cursor: auto;
    pointer-events: none;
}

// Override Cilantro style
.table-region {
    margin-top: 10px !important;
}

.export-options-modal {
    // Override Cilantro styles for modal and modal-body to alow the export
    // modal to be a little larger than normal.
    width: 720px !important;
    margin-left: -360px !important;

    .modal-body {
        max-height: 500px !important;
    }
}

.result-details-modal {
    .modal {
        width: 90%;
        top: 5%;
        left: 5%;
        margin: 0;
        max-height: 800px;
        bottom: 5%;
    }

    .tab-content {
        position: absolute;
        width: 96.5%;
        top: 60px;
        bottom: 60px;
    }

    .modal-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .modal-header {
        border: 0px;
        padding: 0 10px 0 0;
    }

    .modal-body {
        position: static;
    }

    #knowledge-capture-feedback-container {
        height: 400px;
        text-align: center;
    }

    #knowledge-capture-form {
        margin: 0;
        .radio {
            padding-left: 30px;
        }
        .nested-radio {
            padding-left: 60px;
        }
        .inline {
            display: inline;
        }
        label.inline {
            padding-left: 15px;
        }
        textarea {
            width: 75%;
            resize: none;
            margin: 0;
        }
        select, h4 {
            margin: 5px 0px 5px 0px;
        }
    }

    #error-container {
        margin: 0;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

        h5 {
            margin: 0;
        }
    }

    #audit-trail-button {
        float: left;
    }
}

.variant-container {
    @include transition((margin, display) 0.6s ease-in-out);
    @include box-shadow(none);
    @include border-radius(0);

    font-size: 14px;
    cursor: pointer;
    height: 18px;
    margin: 0;
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
    text-shadow: 0 1px 1px #fff;
    padding: 0;
    font-weight: bold;

    td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;

        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;

        small {
            font-weight: normal;
            color: #999;
        }
    }

    td:first-child {
        padding-left: 10px;
    }

    .variant-effects {
        max-width: 250px;
    }

    .hgvs-c {
        max-width: 150px;
    }

    .genotype {
        max-width: 100px;
    }

    .pathogenicity, .assessment-category {
        font-size: 12px;
        white-space: nowrap;
        overflow: visible;
    }

    .flags-container {
        text-align: right;
    }

    .flags {
        font-size: 11px;
        border-right: 0;
        padding: 0;
        min-width: 0;
        max-width: 100%;

        > .flag {
            padding: 0 5px;
            &.muted {
                color: #ddd;
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }

    li small {
        color: #999;
    }

    .sample-result {
        border-bottom: 1px solid #ccc;
    }
}

.variant-container:first-child {
    @include border-radius(3px 3px 0 0);
    border-top: 1px solid #bbb;
}

.variant-container:last-child {
    @include border-radius(0 0 3px 3px);
}

#incidental-category-radios {
    border-right: 1px solid #a9a9a9;
}

#incidental-findings-label {
    padding-top: 35px;
}

#variant-details-content {
    margin-right: 30px;

    .assessments-table-container {
        border-top: 2px solid #eee;
    }
}

.assessment-details-table {
    border: none;
    margin-bottom: 30px;

    .no-border {
        border: none;
    }

    th {
        text-align: left;
    }

    th, td {
        padding-right: 20px;
    }

    tbody > tr {
        border-top: 1px solid #eee;
    }
}
