@import "lib/bourbon/bourbon";

body, #concept-panel, #context-panel {
    padding-top: 40px;
}

#review-notification {
    margin: 0;
    margin-top: 10px;
}

.unsortable-column {
    cursor: auto;
    pointer-events: none;
}

// Override Cilantro style
.table-region {
    margin-top: 10px !important;
}

#result-details-modal {
    width: 90%;
    top: 5%;
    left: 5%;
    margin: 0;
    max-height: 800px;
    bottom: 5%;

    .variant-details-container {
        position: absolute;
        width: 96.5%;
        top: 0;
        bottom: 70px;
        overflow: auto;
    }

    .modal-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .modal-header {
        border: 0px;
        padding: 0 10px 0 0;
    }

    .modal-body {
        position: static;
    }

    .expandable-item {
        height: 100%;
        position: relative;
        padding-bottom: 20px;
    }

    .expand-collapse-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
    }

    // Override default bootstrap popover width to something very large so
    // individual popovers can shrink as needed.
    .popover {
        max-width: 600px;
    }

    .cohort-popover-content, .percentage-popover-content {
        max-height: 250px;
        max-width: 200px;
        overflow-y: auto;
    }

    .details-popover-content {
        max-width: 500px;
        max-height: 250px;
        overflow: auto;
    }

    .assessment-table {
        th, td {
            text-align: left;
            padding-right: 20px;
        }
        tbody > tr {
            border-top: 1px solid #eee;
        }
    }
}

.phenotype-detail-modal {
    .content-display {
        .horizontal-list-display {
            display: inline-flex;
        }
    }
}

.variant-container {
    @include transition((margin, display) 0.6s ease-in-out);
    @include box-shadow(none);
    @include border-radius(0);

    font-size: 14px;
    cursor: pointer;
    height: 18px;
    margin: 0;
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
    text-shadow: 0 1px 1px #fff;
    padding: 0;
    font-weight: bold;

    td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;

        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;

        small {
            font-weight: normal;
            color: #999;
        }
    }

    td:first-child {
        padding-left: 10px;
    }

    .variant-effects {
        max-width: 250px;
    }

    .hgvs-c {
        max-width: 150px;
    }

    .genotype {
        max-width: 100px;
    }

    .pathogenicity, .assessment-category {
        font-size: 12px;
        white-space: nowrap;
        overflow: visible;
    }

    .flags-container {
        text-align: right;
    }

    .flags {
        font-size: 11px;
        border-right: 0;
        padding: 0;
        min-width: 0;
        max-width: 100%;

        > .flag {
            padding: 0 5px;
            &.muted {
                color: #ddd;
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }

    li small {
        color: #999;
    }

    .sample-result {
        border-bottom: 1px solid #ccc;
    }
}

.variant-container:first-child {
    @include border-radius(3px 3px 0 0);
    border-top: 1px solid #bbb;
}

.variant-container:last-child {
    @include border-radius(0 0 3px 3px);
}

#incidental-category-radios {
    border-right: 1px solid #a9a9a9;
}

#incidental-findings-label {
    padding-top: 35px;
}

#variant-details-content {
    margin-right: 30px;

    .assessments-table-container {
        border-top: 2px solid #eee;
    }
}

.assessment-details-table {
    border: none;
    margin-bottom: 30px;

    .no-border {
        border: none;
    }

    th {
        text-align: left;
    }

    th, td {
        padding-right: 20px;
    }

    tbody > tr {
        border-top: 1px solid #eee;
    }
}

#sample-dialog {
    .modal-footer {
        text-align: left;

        [data-target=selected-sample] {
            margin-top: 5px;
            font-size: 14px;
        }

        button {
            float: right;
        }
    }

    table.table {
        thead th {
            cursor: pointer;
            position: relative;
            width: 200px;

            &:hover {
                background-color: #eee;
            }

            .icon-sort-up, .icon-sort-down {
                position: absolute;
                right: 8px;
                top: 12px;
            }

            &.desc {
                .icon-sort-up {
                    display: none;
                }
            }

            &.asc {
                .icon-sort-down {
                    display: none;
                }
            }

            &:first-child {
                border-left: 1px solid #ddd;
            }
        }

        tbody tr {
            cursor: pointer;

            &.filtered {
                display: none;
            }

            &.selected td {
                background-color: lightYellow;
                font-weight: bold;
            }
        }
    }
}

#variant-set-dialog {
    width: 800px;
    margin-left: -400px;

    .radio {
        margin-left: 25px;
    }

    table {
        table-layout: fixed;
    }

    th, td {
        width: 150px;
        text-align: left;
    }

    td {
        padding-left: 5px;
        max-width: 150px;
        word-wrap: break-word;
    }
}

.workspace-workflow {
    .span6 > * {
        margin-top: 20px;
    }
    .span6 > :first-child {
        margin-top: 0;
    }
}

.variant-set-workflow {
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;

    .variant-list-region {
        position: absolute;
        width: 30%;
        height: 100%;
        border-right: 1px solid #c9c9c9;
    }

    .variant-details-region {
        position: absolute;
        height: 50%;
        width: 70%;
        right: 0;
        border-bottom: 1px solid #c9c9c9;
    }

    .knowledge-capture-region {
        position: absolute;
        height: 50%;
        width: 70%;
        bottom: 0;
        right: 0;
    }
}
