{% extends "cilantro/_header.html" %}
{% load url from future %}

{% block header_nav %}
    {{ block.super }}
    <ul class="nav pull-right">
        <li class=dropdown>
        <a class=dropdown-toggle data-toggle=dropdown href=#> <i class="icon-info-sign icon-white"></i> Information<b class=caret></b></a>
            <ul class=dropdown-menu>
                <li><a href="{% url "news" %}">Varify News</a></li>
                <li><a href="{% url "global-registry" %}">Sample Registry</a></li>
                <li><a href="{% url "sources" %}">Annotation Sources</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
