{% extends "cilantro/_index.html" %}

{% block scripts %}
    <script>
        var probandData = JSON.parse('{{ samples|safe }}');
        var selectedProband = JSON.parse('{{ selected_proband|safe }}');
    </script>
    {{ block.super }}
    <script>
        require(['raven'], function() {
            Raven.config({
                dataCallback: function(data) {
                    data['sentry.interfaces.User'] = {
                        username: '{{ user.username }}'
                    };
                    return data;
                }
            });
            Raven.config('{{ SENTRY_PUBLIC_DSN }}');
            window.onerror = Raven.process;
        });
        require(['app/analysis/guide']);
    </script>
{% endblock %}

{% block content %}
    <div id=main-area class=scrollable-column>
        <div class=inner>
            <div id=workspace-area>
                <div class=row-fluid>
                    <div class="span6 area-container">
                        <h3 class=heading>Analysis Summary</h3>

                        <div class=content>
                            <p class=muted>
                                Get started with your first analysis by simply
                                clicking on the button in the toolbar to your right.
                                As you change things you will see the number in the upper left
                                corner change, this is your <strong>variant count</strong>.
                            </p>
                        </div>
                    </div>

                    <div class="span6 area-container">
                        <h3 class=heading>Announcements</h3>
                        <div class=content>
                            <span class=muted>No announcements yet!</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id=review-area></div>
        </div>
    </div>
{% endblock content %}

{% block extra_content %}
    {% include "varify/analysis/modal.html" %}
    {% include "varify/review/modal.html" %}
{% endblock %}
